/* CSS Document */

.highlightme { background-color:#FFFF00; padding: 2px;}

#wrapper{
	height:100%;
	width:100%;
}

#hero{
	width:100%;
}

/* unvisited link */
a:link {
	color: #FF0000;
}

/* visited link */
a:visited {
	color: #00FF00;
}

/* mouse over link */
a:hover {
	color: #FF00FF;
}

/* selected link */
a:active {
	color: #0000FF;
}

body{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:9pt;
	line-height:1.5em;
	text-align: center;
	min-width: 740px;
	height:100%
}

div.underway {
	width:430px;
	font-size:9pt;
	line-height:1.5em;
	text-align: left;
	margin: 0 auto;
}
div.social {
	text-align: right;
	width:100%;
}

@media (max-width: 767px) {
	div.underway {
		width:80%
	}
}